@charset "UTF-8";

html {
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
        Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.guidance {
    width: 100%;
    top: 0;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    opacity: 0.8;
    padding: 30px;
    text-align: center;
    z-index: 1;
    position: fixed;
    /* position: relative; */
    transition: all 0.5s ease;
}
.guidance p {
    display: none;
}

/* ヘッダー */

.hed_nav {
    width: 100%;
    min-height: 100%;
    display: flex;
    height: 30px;
}

.hed_title {
    display: none;
}
.hed_frame {
    line-height: 30px;
    display: flex;
    z-index: 2;
    width: 100%;
    justify-content: center;
}
.hed_box1 {
    transition: all 0.5s ease;
    padding: 0.5%;
    line-height: 50px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    opacity: 0.8;
}
.hed_box1 img {
    vertical-align: middle;
}
.hed_box2 {
    display: flex;
    flex: 25%;
    color: white;
    justify-content: center;
    vertical-align: middle;
    background-color: transparent;
    transition: all 0.5s ease;
    padding: 0.5%;
    line-height: 50px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    opacity: 0.8;
}
.hed2-second {
    margin-left: 30px;
    margin-right: 30px;
}
.hed2-first a {
    color: #5c2f23;
    transition: all 0.5s ease;
}
.hed2-second a {
    color: #5c2f23;
    transition: all 0.5s ease;
}
.hed2-third {
    color: #5c2f23;
    transition: all 0.5s ease;
}
.hed2-third {
    display: none;
}
.hed2-fourth a {
    color: #5c2f23;
    transition: all 0.5s ease;
}
.hed2-shadow a {
    color: #5c2f23;
}

.hed_box3 {
    color: #5c2f23;
    justify-content: flex-end;
    display: flex;
    background-color: transparent;
    transition: all 0.5s ease;
    padding: 0.5%;
    line-height: 50px;
    margin-right: 30px;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    opacity: 0.8;
}
.hed3_shadow {
    display: none;
}
.hed3_shadow img {
    flex: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: 50px;
}

.scroll {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    opacity: 0.8;
}

/* 暗転 */

/* 隠れサインイン */
.open-window {
    display: none;
}
.login_box {
    display: none;
    margin: auto;
    z-index: 999;
    margin-top: 10vh;
    width: 40%;
    background-color: white;
    border-radius: 12px;
}
.login {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}
.login h2 {
    border: none;
    list-style-type: none;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
}
.login input {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 2.5px;
    border-radius: 8px;
    border: 1px solid #aaa;
}
.air {
    padding: 20px;
}
.open {
    display: block;
}
/* .close {
    display: none;
} */
.login_box.close {
    display: none; /* クラスが"close"のときは非表示にする */
}
/* 新規登録 */
.register-container {
    margin-top: 150px;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    text-align: center;
}

.register-container form {
    margin-top: 20px;
}

.register-container input[type="email"],
.register-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.register-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
/* ログイン２ */
.login-container {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* リセットフォーム */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f3f3;
}
.reset-form {
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.reset-form h2 {
    text-align: center;
}
.reset-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.reset-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.reset-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

#page_top {
    display: none;
}
.asterisk {
    color: red;
}

.thanks {
    width: 70%;
    margin: 5% auto;
    border-radius: 16px;
    border: 1px solid #ccc;
}
.thanks h1 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
}
.massage {
    padding: 3%;
}
.massage p {
    font-weight: normal;
}
.massage a {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
}

@media screen and (max-width: 896px) {
    .hed_frame {
        justify-content: space-between;
    }
    .hed_box2 {
        display: none;
    }
    .hed2-first {
        display: none;
    }
    .hed2-third {
        display: none;
    }
    .hed2-shadow {
        display: none;
    }
    .hed_box3 {
        display: none;
    }
}
